.form-display {
  margin-left: 295px;
  margin-top: 72px;
}
.header {
  margin-left: 520px;
}
.info {
  background-color: rgb(224, 240, 245);
  margin-right: 230px;
  padding-left: 50px;
  padding-top: 10px;
  border-radius: 3px;
  padding-bottom: 20px;
}
